.zmdi{
	line-height: inherit;
	font-size: 20px;
}

.color-boxes > md-list-item, .color-boxes > md-list-item ._md-list-item-inner {
    min-height: 35px !important;
    /*height: 35px !important;
    font-size: 12px;*/
    opacity: 1 !important;
}
#colorWheel:focus {
    outline: none;
}