.zmdi{
	line-height: inherit;
	font-size: 20px;
}

#colorWheel:focus {
    outline: none;
}

md-list-item.active{
	background-color: rgba(158,158,158,0.15);
}

md-list-item.active md-divider{display: none;}